li:nth-child(odd) {
    background-color: lightgray;
}

ul {
    border: 1px solid lightgray;
    padding-left: 0;
}

li {
    padding: 20px;
    font-size: 16px;
    list-style: none;
}

.fa-times, span {
    cursor: pointer;
}