<div *ngIf="isPageHome()">
  <ul>
    <li>
      HOMEPAGE
      <i class="fa fa-edit" (click)="goToPage('HOMEPAGE')"></i>
    </li>
    <li *ngFor="let title of getTitles() | filterHomePage;">
      <span>{{title}}</span>
      <i class="fa fa-times" (click)="deletePage(title, $event)"></i>
      <i class="fa fa-edit" (click)="goToPage(title)"></i></li>
  </ul>
</div>

<div *ngIf="isSpecificPage()">
  <app-page [title]="getSelectedPage()"></app-page>
</div>

<div *ngIf="isCreatePage();">
  <app-new-page-form></app-new-page-form>
</div>