<form #newAsset="ngForm" (submit)="onSubmit();">
  <div>
    <label for="title">File Name</label>
    <input type="text" id="title"
           required
           [(ngModel)]="model.title" name="title">
  </div>
  <div>
  <div>
    <input type="radio" 
           name="asset" 
           value="js" 
           [(ngModel)]="model.type">
    <label for="js">JavaScript</label>
    <input type="radio" 
           name="asset" 
           value="css" 
           [(ngModel)]="model.type">
    <label for="css">CSS</label>
  </div>
  <div>
    <textarea id="body" 
              required
              [(ngModel)]="model.body" name="body"></textarea>
  </div>
  <div><button type="submit" [disabled]="!newPage.form.valid && model.type">Create Page</button></div>
</form>
