<form #newAsset="ngForm" (submit)="onSubmit();">
  <div>
    <label for="title">File Name</label>
    <input type="text" id="title"
           required
           [(ngModel)]="model.title" name="title">
  </div>
  <div>
    <input type="radio" 
           name="asset" 
           value="js" 
           [(ngModel)]="model.type">
    <label for="js" class="label-inline">JavaScript</label>
    <input type="radio" 
           name="asset" 
           value="css" 
           [(ngModel)]="model.type">
    <label for="css" class="label-inline">CSS</label>
  </div>
  <div>
    <textarea id="body" 
              required
              [(ngModel)]="model.body" name="body"></textarea>
  </div>
  <div class="submit-cancel">
    <button type="submit" [disabled]="!newAsset.form.valid || !model.type">Create Asset</button>
    <button (click)="goBack();">Cancel</button></div>
</form>
