<div *ngIf="isAssetHome()">
  <p>CSS</p>
  <ul>
    <li *ngFor="let asset of getAssets() | assetFilter: 'css';">
      <span>{{asset.title}}</span>
      <i class="fa fa-globe"></i>
      <i class="fa fa-times" (click)="deleteAsset(asset.title, asset.type, $event)"></i>
      <i class="fa fa-edit" (click)="goToAsset(asset.title, asset.type)"></i>
    </li>
  </ul>
  <p>JS</p>
    <ul>
    <li *ngFor="let asset of getAssets() | assetFilter: 'js';">
      <span>{{asset.title}}</span>
      <i class="fa fa-globe"></i>
      <i class="fa fa-times" (click)="deleteAsset(asset.title, asset.type, $event)"></i>
      <i class="fa fa-edit" (click)="goToAsset(asset.title, asset.type)"></i>
    </li>
  </ul>
</div>

<div *ngIf="isSpecificAsset()">
  <app-asset [title]="getSelectedAsset().title" [type]="getSelectedAsset().type"></app-asset>
</div>

<div *ngIf="isCreateAsset();">
  <app-new-asset-form></app-new-asset-form>
</div>