<form #updatePage="ngForm" (submit)="onSubmit();">
  <div>
    <label for="title">Page Title</label>
    <input type="text" id="title"
           required
           [disabled]="model.title === 'HOMEPAGE'"
           [(ngModel)]="model.title" name="title">
  </div>
  <div>
    <label for="body">Page Body</label>
    <textarea id="body" 
              required
              [(ngModel)]="model.body" name="body"></textarea>
  </div>
  <div>
    <p>Page CSS</p>
    <div *ngIf="model.css.length === 0">No CSS Associated With This Page</div>
    <ul>
      <li *ngFor="let css of model.css">{{css}}<i class="fa fa-times" (click)="removeCSS(css);"></i></li>
    </ul>
    <select id="css" [(ngModel)]="newCSS" name="addCss">
      <option selected disabled>Add CSS</option>
      <option *ngFor="let selectableCSS of getPageCSS()" value="{{selectableCSS}}">{{selectableCSS}}</option>
    </select>
    <div><button type="button" 
                 class="no-left-margin"
                 (click)="addCSS(newCSS)">Add CSS</button></div>
  </div>
  <div>
    <p>Page JS</p>
    <div *ngIf="model.js.length === 0">No JavaScript Associated With This Page</div>
    <ul>
      <li *ngFor="let js of model.js">{{js}}<i class="fa fa-times" (click)="removeJS(js);"></i></li>
    </ul>
    <select id="js" [(ngModel)]="newJS" name="addJs">
      <option selected disabled>Add JS</option>
      <option *ngFor="let selectableJS of getPageJS()" value="{{selectableJS}}">{{selectableJS}}</option>
    </select>
    <div><button type="button" 
                 class="no-left-margin"
                 (click)="addJS(newJS)">Add JS</button></div>
  </div>
  <div>
    <p>Page Meta</p>
    <div *ngIf="model.meta.length === 0">No Meta Tags Are Associated With This Page</div>
    <ul>
      <li *ngFor="let meta of model.meta">
        <span>Name: {{meta.name}}</span> | <span>Content: {{meta.content}}</span>
        <i class="fa fa-times" (click)="removeMeta(meta.name, meta.content);"></i>
      </li>
    </ul>
    </div>
    <div class="add-meta">
      <div>
        <label>Name</label>
        <input id="meta-name" [(ngModel)]="newMeta.name" typmodele="text" name="new-meta-name">
      </div>
      <div>
        <label>Content</label>
        <input id="meta-content" [(ngModel)]="newMeta.content" type="text" name="new-meta-content">
      </div>
    </div>
    <div><button [disabled]="!newMeta.name || !newMeta.content" 
                 type="button" 
                 class="no-left-margin"
                 (click)="addMeta(newMeta.name, newMeta.content)">Add Meta Tag</button></div>
  <div class="submit-cancel">
    <button type="submit" 
            class="no-left-margin"
            [disabled]="!updatePage.form.valid">Update Page</button>
    <button type="button" (click)="goBack()">Cancel</button>
  </div>
</form>