ul {
    background: cornflowerblue;
    margin: 0;
    width: 125px;
    position: fixed;
    top: 38px;
    bottom: 0;
    padding: 0;
}

li {
    padding: 10px;
    cursor: pointer;
    transition: .4s;
}

li:hover {
    background-color: rgba(0,0,0,.25);
    transition: .3s;
}