<form #updateForm="ngForm" (submit)="onSubmit()">
  <div #fieldDiv>
    <label for="formName">Form Name</label>
    <input name="formName" id="form-name"
          required
          [(ngModel)]="model.title" type="text">
  </div>
  <h3>{{model.name}}</h3>
  <h3>Added Fields</h3>
  <ul>
    <li *ngFor="let field of fields let i = index">
      {{field.name}}: {{field.type}} 
      <i class="fa fa-pencil" (click)=updateField(i)></i>
      <i class="fa fa-times" (click)="deleteField(field)"></i>
      <div *ngIf="i === fieldToUpdate">
       <span>Field Name</span><input type="text" [(ngModel)]="editFieldModel.name" name="editFieldName">
        <div>
          <span>Field Type:</span>
          <select #updateFieldType [value]="editFieldModel.type" name="editFieldType">
            <option [value]="'text'">Text</option>
            <option [value]="'textArea'">Text Area</option>
            <option [value]="'radio'">Radio Buttons</option>
            <option [value]="'checkmarks'">Check Boxes</option>
            <option [value]="'select'">Dropdown</option>
          </select>
        </div>
        <div>
          <span>Placehholder</span><input type="text" [(ngModel)]="editFieldModel.options.placeholder" placeholder="Placeholder" name="placeholderEdit">
        </div>
        <div *ngFor="let option of editFieldModel.options.userOptions; let i = index; trackBy:trackByFn">
          <span>Option {{i+1}}</span>
          <input [(ngModel)]="editFieldModel.options.userOptions[i]" 
                 placeholder="Option {{i + 1}}" 
                 required
                 name="option_{{i + 1}}">
        </div>
        <div (click)="addEditUserOption()" [ngClass]="{'disabled': editFieldModel.options.userOptions[0] === ''}">Add Option</div>
        <button (click)="confirmUpdate(i)">Update</button>
      </div>
    </li>
  </ul>
  <div><button type="submit" [disabled]="!updateForm.form.valid || model.fields.length === 0">Update Form</button></div>
</form>

<form #newField="ngForm">
  <label for="fieldName">New Field Name</label>
  <input type="text" name="fieldName"
         id="field-type" required
         [(ngModel)]="addFieldModel.name">
  <select name="fieldType" id="field-type"
          [(ngModel)]="addFieldModel.type"
          required #fieldType>
          <option [value]="'text'">Text</option>
          <option [value]="'textArea'">Text Area</option>
          <option [value]="'radio'">Radio Buttons</option>
          <option [value]="'checkmarks'">Check Boxes</option>
          <option [value]="'select'">Dropdown</option>
  </select>
  <div>
    <input type="text" 
           [(ngModel)]="addFieldModel.options.placeHolder" 
           placeholder="Field Placeholder"
           name="fieldType">
    <div *ngIf="addFieldModel.type && addFieldModel.type !== 'text' && addFieldModel.type !== 'textArea'">
      <div>User Options For Field</div>
      <div *ngFor="let option of addFieldModel.options.userOptions; let i = index; trackBy:trackByFn">
        <input [(ngModel)]="addFieldModel.options.userOptions[i]" 
               placeholder="Option {{i + 1}}" 
               required
               name="option_{{i + 1}}">
        <div (click)="addUserOption()" [ngClass]="{'disabled': addFieldModel.options.userOptions[i] === ''}">Add Option</div>
      </div>
    </div>
  </div>
  <button (click)="addField()" [disabled]="!newField.form.valid">Add Field</button>
</form>