.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.2);
    z-index: 99;
}

.modal {
    position: fixed;
    transform: translate(-50%, -5%);
    top: 5%;
    left: 50%;
    background-color: #fafafa;
    border: 1px solid darkgray;
    padding: 25px;
    max-width: 545px;
}

.buttons {
    text-align: center;
}