button {
    background-color: cornflowerblue;
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
    outline: none;
    transition: .2s;
    margin: 0 5px;
    font-weight: bold;
}

button:hover {
    background-color: #5A86D6;
    transition: .2s;
}

button:active {
    background-color: #4C74BA;
    position: relative;
    top: 1px;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
    cursor: default;
    background-color: lightgray;
    color: darkgray;
}

label {
    display: block;
    font-size: 12px;
    font-weight: bold;
}

.label-inline {
    display: inline-block;
}