button,
i {
    background-color: cornflowerblue;
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
    outline: none;
    transition: .2s;
    margin: 5px 5px 0;
    font-weight: bold;
}

button:hover,
i:hover {
    background-color: #5A86D6;
    transition: .2s;
}

button:active,
i:active {
    background-color: #4C74BA;
    position: relative;
    top: 1px;
}

i {
    font-size: 12px;
    margin-top: 0;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
    cursor: default;
    background-color: lightgray;
    color: darkgray;
}

label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}

.label-inline {
    display: inline-block;
}

#monaco {
    width: 100%;
    height: 500px;
    border: 1px solid #e7e7e7;
}

.submit-cancel {
    margin-top: 20px;
}

.no-left-margin {
    margin-left: 0;
}