<div class="inline-title">
  <h3 class="sub-menu-title"> Collection Items for {{title}}</h3>
  <button (click)="newCollectionItem()">New Item</button>
  <button (click)="goBack()">Go Back</button> 
</div>
<div *ngIf="isListView()">
  <div *ngIf="getCollectionItems() && getCollectionItems().length > 0">
    <ul>
      <li *ngFor="let item of getCollectionItems();">
          <span>{{item}}</span><i class="fa fa-times" (click)="deleteCollectionItem(item, $event)"></i><i class="fa fa-edit" (click)="goToCollectionItem(item, $event)"></i>
      </li>
    </ul>
  </div>
  <div *ngIf="!getCollectionItems() || getCollectionItems() && getCollectionItems().length === 0">
    No collection items found for {{title}}.
  </div>
</div>
<div *ngIf="isBuildView()">
  <app-collection-item-builder [belongsTo]="title"></app-collection-item-builder>
</div>
<div *ngIf="isUpdateView()">
  <app-update-collection-item [belongsTo]="title"></app-update-collection-item>
</div> 