.modal-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.2);
    z-index: 99;
}

form {
    position: absolute;
    z-index: 100;
    width: 50%;
    height: 50%;
    min-width: 325px;
    min-height: 325px;
    left: 25%;
    top: 25%;
    transform: translate(0%, -15%);
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
}

.image-preview img {
    max-width: 200px;
    height: auto;
    max-height: 340px;
    object-fit: cover;    
}

label {
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.fa-times {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 10px;
    border: 1px solid lightgray;
    color: lightgray;
    top: -10px;
    right: -10px;
    cursor: pointer;
    border-radius: 100%;
    background-color: white;
}

.fa-times:active { position: absolute; top: -9px; }

input[type="file"] { visibility: hidden; }