<form #newCollection="ngForm" (submit)="onSubmit()">
  <div #fieldDiv>
    <label for="collectionName">Collection Name</label>
    <input name="collectionName" id="collection-name"
           required
           [(ngModel)]="model.title" type="text">
  </div>
  <h3>{{model.name}}</h3>
  <h3>Added Fields</h3>
  <ul>
    <li *ngFor="let field of fields let i = index">
      {{field}} 
      <i class="fa fa-pencil" (click)=updateField(i)></i>
      <i class="fa fa-times" (click)="deleteField(field)"></i>
      <div *ngIf="i === fieldToUpdate">
        <input type="text" #updateInput>
        <button (click)="confirmUpdate(updateInput.value, i)">Update</button>
      </div>
    </li>
  </ul>
  <div>
    <label for="fieldName">New Field Name</label>
    <input type="text" name="fieldName"
           id="fieldName"
           [(ngModel)]="addFieldModel.name">
  <button (click)="addField()" [disabled]="!addFieldModel.name">Add Field</button>
  </div>
  <div class="submit-cancel">
    <button class="no-left-margin" type="submit" [disabled]="!newCollection.form.valid || fields.length === 0">Update Collection</button>
    <button type="button" (click)="goBack()">Cancel</button>
  </div>
</form>