<div>
  <h1>Welcome to WebWorks Admin</h1>
  <p>Please log in to access the administration panel.</p>
  <form (ngSubmit)="onLogin()" #adminLoginForm="ngForm">
    <div>
      <label for="user">Username</label>
      <input type="text" id="username"
            required
            [(ngModel)]="model.username" name="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password"
            required
            [(ngModel)]="model.password" name="password">
    </div>
    <div><button type="submit" [disabled]="!adminLoginForm.form.valid">Log In</button></div>
  </form>
</div>