<div class="inline-title">
  <h3 class="sub-menu-title"> Form Responses for {{belongsTo}}</h3>
  <button (click)="goBack()" *ngIf="isListView() || isExploreView()">Go Back</button> 
</div>
<div *ngIf="isListView()">
  <div *ngIf="getFormResponses() && getFormResponses().length > 0">
    <ul>
      <li *ngFor="let item of getFormResponses(); let i = index;">
          <span>Response {{i + 1}} - {{item.wwdatesubmitcheck33254}}</span>
          <i class="fa fa-times" (click)="deleteFormResponse(item, i, $event)">
            </i><i class="fa fa-search" (click)="goToResponse(item._id, $event)"></i>
      </li>
    </ul>
  </div>
  <div *ngIf="!getFormResponses() || getFormResponses() && getFormResponses().length === 0">
    No form responses found for {{belongsTo}}.
  </div>
</div>
<div *ngIf="isExploreView()">
  <app-form-response [belongsTo]="belongsTo"></app-form-response>
</div>