div {
    position: absolute;
    top: -50px;
    width: 100%;
    height: 50px;
    z-index: 8000;
}

p {
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}