:host {
    box-sizing: border-box;
    position: absolute;
    top: 38px;
    overflow: auto;
    left: 125px;
    height: calc(100% - 38px);
    width: calc(100% - 125px);
    padding: 25px;
    background-color: #fafafa;
}

h2 {
    margin-top: 0;
    text-transform: capitalize;
}