<h2>{{currentView()}}</h2>
<app-admin-home *ngIf="currentView() === 'home'"></app-admin-home>
<app-pages *ngIf="currentView() === 'pages'"></app-pages>
<app-media *ngIf="currentView() == 'media'"></app-media>
<app-collections *ngIf="currentView() === 'collections'"></app-collections>
<app-forms *ngIf="currentView() === 'forms'"></app-forms>
<app-assets *ngIf="currentView() === 'assets'"></app-assets>
<app-templates *ngIf="currentView() === 'templates'"></app-templates>
<app-sign-up *ngIf="currentView() === 'new user'"></app-sign-up>
<app-upload-media *ngIf="currentModalView() === 'favicon'" [uploadFavicon]="true"></app-upload-media>