<div *ngIf="isCollectionView()">
  <ul>
    <li *ngFor="let title of getTitles();"><span (click)="goToCollectionItems(title)">{{title}}</span><i class="fa fa-times" (click)="deleteCollection(title, $event)"></i><i class="fa fa-edit" (click)="goToCollection(title, $event)"></i></li>
  </ul>
</div>
<app-collection-builder *ngIf="isBuildView()"></app-collection-builder>
<div *ngIf="isUpdateView()">
  <app-update-collection [title]="selectedTitle"></app-update-collection>
</div>
<div *ngIf="isItemView()">
  <app-collection-items [title]="selectedTitle"></app-collection-items>
</div>